@import "./base/Variables";
@import "./base/Reset";
@import "./partials/Nav";
@import "./mixin_functions/Mixins";
// @import "components/Posts";

header {
    position: relative;
    height: 300px;

    &>img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    nav .container {
        &>ul li ul {

            &>div {
                // background: transparent !important;
                background: #e7d6ee90;

            }
        }
    }
}

main.container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    // grid-template-columns: repeat(auto-fill, minmax(max(160px,20%), 1fr));
    // gap: 2em;

    aside,.info-detail{
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.108);
        background: #ffffff;
        margin-top: -6em;
        z-index: 2;
        
    }
    aside {
        // width: max(150px,30%);
        padding: 2em;

        h1,
        h2 {
            margin-left: .7em;
            margin-bottom: .7em;
        }

        ul {
            width: max-content;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    padding: .5rem 1rem;
                    transition: .2s;
                    border-left: 3px solid transparent;
                    display: block;

                    &:hover {
                        border-left: 3px solid $clr_accent_1;
                        background: rgba($clr_accent_1, 0.065);

                        i {
                            color: darken($clr_accent_1, 5%);
                        }
                    }

                    &.active {
                        border-left: 3px solid $clr_accent_1;
                        background: rgba($clr_accent_1, 0.065);

                    }


                    i {
                        margin-right: 10px;
                        font-size: 1.3rem;
                        color: rgb(61, 59, 59);
                    }
                }
            }
        }

        img {
            border: 5px solid white;
            width: 200px;
            border-radius: 50%;
            filter: drop-shadow(0 0 10px lightgrey);
        }

        .user-info {
            text-align: center;
            margin-block: 1em;

            h3 {
                font-size: 2rem;
            }
        }

    }

    .info-detail {
        background: $clr_light_1;

        .head-info {
            border-bottom: 2px solid lightgrey;
            a {
                padding: 1.5em 2em;
                display: inline-block;
                border-bottom: 2px solid transparent;
                transition: .35s;
                font-weight: bolder;
                color: rgb(91, 91, 91);

                &:hover {
                    font-weight: bolder;
                    border-color: orange;
                    color: black;
                }
            }
        }

        .body-info{
            
            #myModal{
                @include mudal();
                
            }

            form{
                @include form_1();
            }

            @import "components/Posts";
        }
    }
}



























@import "./partials/Footer";