@import "./base/Variables";
@import "./base/Reset";
@import "./partials/Nav";
@import "./mixin_functions/Mixins";

main.container{
    display: grid;
    grid-template-columns: max(160px, 20%) 1fr;
    // grid-template-columns: repeat(auto-fill, minmax(max(160px,20%), 1fr));
    // gap: 2em;


    aside{
        // width: max(150px,30%);
        padding-top: 2em;

        h1,h2{
            margin-left: .7em;
            margin-bottom: .7em;
        }

        ul{
            width: max-content;
            li{
                list-style: none;

                a{
                    text-decoration: none;
                    padding:  .5rem 1rem;
                    transition: .2s;
                    border-left: 3px solid transparent;
                    display: block;

                    &:hover{
                        border-left: 3px solid $clr_accent_1;
                        background: rgba($clr_accent_1, 0.065);

                        i{
                            color: darken($clr_accent_1, 5%);
                        }
                    }
                    &.active{
                        border-left: 3px solid $clr_accent_1;
                        background: rgba($clr_accent_1, 0.065);

                    }


                    i{
                        margin-right: 10px;
                        font-size: 1.3rem;
                        color: rgb(61, 59, 59);
                    }
                }
            }
        }
    }


    .info-detail{
        padding-top: 2em;
        margin-right: 1em;
        // background: linear-gradient(-60deg, #EEEEEE,rgb(246, 248, 227),#EEEEEE);
        padding: 1.7em;

        .head-info{
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            gap:  2rem;
            margin-bottom: 3em;

            > div:has(img){
                position: relative;

                i{
                    position: absolute;
                    top: 80%;
                    right: 5%;
                    color: $clr_accent_1;
                    cursor: pointer;
                }
            }

            img{
                border: 5px solid  white;
                width: 100px;
                border-radius: 50%;
                filter: drop-shadow(0 0 10px lightgrey);
                cursor: pointer;
            }

            .user-info{

                h3{
                    font-size: 2.5rem;
                }
            }
        }


        .body-info{

            .formOff, #editProfileform{
                @include form_1();
            }
            .formOff{
                input{
                    background: hsl(0, 0%, 96%);
                }
            }

            // #editProfileform{
            // }
            
            #myModal{
                @include mudal();
                
            }

            
        }


    }
}












@import "./partials/Footer";