@import "./base/Variables";
@import "./base/Reset";
@import "./partials/Nav";

main.container{
    display: grid;
    grid-template-columns: max(160px, 20%) 1fr;
    // grid-template-columns: repeat(auto-fill, minmax(max(160px,20%), 1fr));
    // gap: 2em;


    aside{
        // width: max(150px,30%);
        padding-top: 2em;

        h1,h2{
            margin-left: .7em;
            margin-bottom: .7em;
        }

        ul{
            width: max-content;
            li{
                list-style: none;

                a{
                    text-decoration: none;
                    padding:  .5rem 1rem;
                    transition: .2s;
                    border-left: 3px solid transparent;
                    display: block;

                    &:hover{
                        border-left: 3px solid $clr_accent_1;
                        background: rgba($clr_accent_1, 0.065);

                        i{
                            color: darken($clr_accent_1, 5%);
                        }
                    }
                    &.active{
                        border-left: 3px solid $clr_accent_1;
                        background: rgba($clr_accent_1, 0.065);

                    }


                    i{
                        margin-right: 10px;
                        font-size: 1.3rem;
                        color: rgb(61, 59, 59);
                    }
                }
            }
        }
    }


    .info-detail{
        padding-top: 2em;
        margin-right: 1em;
        // background: linear-gradient(-60deg, #EEEEEE,rgb(246, 248, 227),#EEEEEE);
        padding: 1.7em;

        .head-info{
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            gap:  2rem;
            margin-bottom: 3em;

            > div:has(img){
                position: relative;

                i{
                    position: absolute;
                    top: 80%;
                    right: 5%;
                    color: $clr_accent_1;
                    cursor: pointer;
                }
            }

            img{
                border: 5px solid  white;
                width: 100px;
                border-radius: 50%;
                filter: drop-shadow(0 0 10px lightgrey);
                cursor: pointer;
            }

            .user-info{

                h3{
                    font-size: 2.5rem;
                }
            }
        }


        .body-info{

            .formOff, #editProfileform{
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                column-gap: 1em;
                
                // generals
                label{
                    cursor: pointer;
                }

                // spcefic
                fieldset{
                    margin-block: 1em;
                    grid-column: span 3;

                    input[type="radio"]:not(:first-child){
                        margin-block: 1em;
                        accent-color: red;
                        margin-left: 1em;
                    }


                    ul:has(input[type="radio"]){
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 1em;
                    }

                    
                }
                .grid-col-3{
                    grid-column: span 2;
                }
                .grid-full-width{
                    grid-column: span 6;
                    text-align: center;
                    

                    button{
                        font-size: 1.2rem;
                        padding: .8em 1.5em;
                        // background: linear-gradient(10deg, #F56545, #F06543);
                    }
                }



            }
            .formOff{
                input{
                    background: hsl(0, 0%, 96%);
                }
            }

            // #editProfileform{
            // }
            
            #myModal{
                background: linear-gradient(-60deg, #EEEEEE,rgb(246, 248, 227),#EEEEEE);
                padding: 1em 2em;
                border: none;
                outline: none;
                width: clamp(400px, 60%,800px);
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                box-shadow: 0 0 1em rgba(0, 0, 0, 0.167);

                &::backdrop{
                    background: hsla(0, 0%, 0%, 0.237);
                }
                button{
                    font-size: 1.2rem;
                    padding: .8em 1.5em;
                    background: linear-gradient(10deg, #F56545, #F06543);
                }

                button#cancelModal{
                    background: linear-gradient(to bottom, rgb(0, 162, 248),rgb(2, 120, 167));
                }
                
            }

            
        }


    }
}












@import "./partials/Footer";