@import "./base/Variables";
@import "./base/Reset";
@import "./components/Cards";


@import "./partials/Nav";




main {

    section {
  
      .title-tool{
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        h2 {
          font-size: 2rem;
          margin-block: 1em;
          border-bottom: 3px solid grey;
          padding-bottom: .6em;
          border-spacing: 10px 10px;
        }
  
        a{
          font-weight: bolder;
          font-size: 1.2rem;
        }
  
      }
  
  
      &>div {
  
        &.posts-row {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 1.2em;

          @include card();
        }
      }
    }
  }
  
  @import "./partials/Footer";