footer {
  background: #141414;
  color: azure;
  padding: 2em;

  .container {
    display: flex;
    justify-content: space-between;

    ul {
      h3 {
        margin-block: 1em;
      }
      li {
        list-style: none;
        margin-block: 0.7em;

        a {
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  footer {
    .container {
      // ul:nth-child(1),
      // ul:nth-child(3),
      // ul:nth-child(4) {
      //   display: none;
      // }

      flex-direction: column;
      align-items: center;
      ul{
        text-align: center;
      }
    }
  }
}
