.control_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
    border-bottom: 1px solid grey;

    #modal{
        @include mudal_2();
    }

    .meta-statistic{
        display: flex;
        gap: 1em;

        dl{
            display: flex;
            gap: .3em;

            dt{
                font-weight: bold;
            }
        }
        
    }

    
}

.posts_container{
    // display: flex;
    // flex-wrap: wrap;

    Table {
        border-collapse: collapse;
        margin-top: 1em;
        width: calc(100% - 2em);
        margin-inline: auto;

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        thead {

            tr {
                background: linear-gradient(to bottom, #E4E4E4, #D0D0D0);

                th {
                    padding: 1em;
                    border: 1px solid #dddddd;
                }
            }
        }

        tbody {

            
            tr {
                background: #F5FEFF;

                td {
                    padding: 1em;
                    border: 1px solid #F5FEFF;
                }
            }

        }

        tr:nth-child(even) {
            background-color: #DFFDFF;
        }
    }

    // canceled
    // article{
    //     // flex: 1 0 max(150px,25%);
    //     flex: 1 0 clamp(150px,25%,230px);
    //     padding: 5px;

    //     figure{
            

    //         figcaption{

    //             .meta-info-container{

    //                 // Author Profile image
    //                 img{
    //                     width: 30px;
    //                     border-radius: 50%;
    //                     box-shadow: 0 0 10px rgba(0, 0, 0, 0.256);
    //                 }
    //             }
    //         }
            
    //     }
    // }

}