* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
// style genrala of all inputs to look like Bootstrap
input:is([type="text"], [type="password"], [type="email"]),
textarea, .input {
  width: 100%;
  padding: 0.6em 1em;
  font-size: 1rem;
  border: none;
  margin-block: 0.5em;
  border-radius: $radius-sm;
  outline: 1px solid lightgrey;
  direction: auto;
  unicode-bidi: plaintext;

  &:focus {
    outline: 1px solid rgb(5, 172, 218);
  }
}
input[type="file"] {
  margin-block: 0.5em;
  width: 100%;
  border-radius: 5px;
  background: #ffffff;
  outline: 1px solid lightgrey;
  cursor: pointer;
}
::file-selector-button {
  margin: 0;
  padding: 0.6em 1em;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(to bottom, rgb(254, 255, 244), rgb(210, 213, 195));
  cursor: pointer;
}
label {
  display: block;
}
.mce-container {
  z-index: 1001; /* or a higher value */
}

fieldset {
  border: none;
  outline: none;
}

button,
.btn {
  padding: 0.6em 1.2em;
  font-size: 1rem;
  outline: none;
  border: none;
  margin-block: 0.5em;
  border-radius: $radius-sm;
  background: linear-gradient(to top, rgb(77, 77, 77), rgb(154, 154, 154));
  font-weight: bolder;
  color: white;
  transition: 1s;
  cursor: pointer;
  &:hover {
    background: linear-gradient(to top, rgb(34, 34, 34), rgb(94, 94, 94));
  }
}
///////////           Style general                 ///////////

body {
  background: #eeeeee;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  width: min(calc(100% - 2rem), 1200px);
  margin: 0 auto;
}
//******** partial classs on site

.alert-red{
  color: red;
}