$clr_main: #36b58f;

$clr_light: antiquewhite;
$clr_light_1: #fff;
$color_2: rgb(255, 232, 157);
$color_3: #323232;
$clr_grey: #EEEEEE;
$clr_danger: rgb(208, 0, 0);
$font-family_1: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

$clr_accent_1: orange;

// partial variables for signup & login pages

$margin-block: 10px;
$radius-sm: 5px;
$radius-md: 1em;

//********* btns color  ***************
$clr_btn_accent_1: #F06543,#b83619;
$clr_btn_accent_2: rgb(0, 162, 248),rgb(2, 120, 167);