* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

input:is([type=text], [type=password], [type=email]),
textarea, .input {
  width: 100%;
  padding: 0.6em 1em;
  font-size: 1rem;
  border: none;
  margin-block: 0.5em;
  border-radius: 5px;
  outline: 1px solid lightgrey;
  direction: auto;
  unicode-bidi: plaintext;
}
input:is([type=text], [type=password], [type=email]):focus,
textarea:focus, .input:focus {
  outline: 1px solid rgb(5, 172, 218);
}

input[type=file] {
  margin-block: 0.5em;
  width: 100%;
  border-radius: 5px;
  background: #ffffff;
  outline: 1px solid lightgrey;
  cursor: pointer;
}

::-webkit-file-upload-button {
  margin: 0;
  padding: 0.6em 1em;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(254, 255, 244)), to(rgb(210, 213, 195)));
  background: linear-gradient(to bottom, rgb(254, 255, 244), rgb(210, 213, 195));
  cursor: pointer;
}

::file-selector-button {
  margin: 0;
  padding: 0.6em 1em;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(254, 255, 244)), to(rgb(210, 213, 195)));
  background: linear-gradient(to bottom, rgb(254, 255, 244), rgb(210, 213, 195));
  cursor: pointer;
}

label {
  display: block;
}

.mce-container {
  z-index: 1001; /* or a higher value */
}

fieldset {
  border: none;
  outline: none;
}

button,
.btn {
  padding: 0.6em 1.2em;
  font-size: 1rem;
  outline: none;
  border: none;
  margin-block: 0.5em;
  border-radius: 5px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(77, 77, 77)), to(rgb(154, 154, 154)));
  background: linear-gradient(to top, rgb(77, 77, 77), rgb(154, 154, 154));
  font-weight: bolder;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}
button:hover,
.btn:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(34, 34, 34)), to(rgb(94, 94, 94)));
  background: linear-gradient(to top, rgb(34, 34, 34), rgb(94, 94, 94));
}

body {
  background: #eeeeee;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  width: min(100% - 2rem, 1200px);
  margin: 0 auto;
}

nav {
  padding: 1em;
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  position: relative;
  top: 0;
  width: 100%;
  z-index: 2;
}
nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav .container .logo {
  font-size: 1.7rem;
  color: red;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: yellow;
}
nav .container > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.2em;
}
nav .container > ul > li {
  position: relative;
}
nav .container > ul > li > a {
  padding: 0.5em 0.9em;
  border-radius: 5px;
  -webkit-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
nav .container > ul > li > a:hover {
  background: #191a19;
  color: azure;
}
nav .container > ul > li > a.active {
  background: #191a19;
  color: azure;
  font-weight: bolder;
}
nav .container > ul > li > a i {
  margin-left: 1em;
}
nav .container > ul > li ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.25s, -webkit-transform 0.25s;
  transition: opacity 0.25s, -webkit-transform 0.25s;
  transition: transform 0.25s, opacity 0.25s;
  transition: transform 0.25s, opacity 0.25s, -webkit-transform 0.25s;
  -webkit-transform: translateY(1em) scale(0.95);
          transform: translateY(1em) scale(0.95);
}
nav .container > ul > li ul > div {
  margin-top: 1em;
  background: #eeeeee;
  -webkit-box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.2);
  padding: 8px;
  border-radius: 11px;
}
nav .container > ul > li ul > div li a {
  padding: 0.6em 0.8em;
  border-radius: 5px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border-bottom: 3px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}
nav .container > ul > li ul > div li a:hover {
  border-bottom: 3px solid orange;
  background: #e1e1e1;
  background: rgba(255, 165, 0, 0.065);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.11);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.11);
}
nav .container > ul > li ul > div li a:hover i {
  color: #e69500;
}
nav .container > ul > li ul > div li a i {
  margin: 0;
}
nav .container > ul > li:hover ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0em) scale(1);
          transform: translateY(0em) scale(1);
}
nav .container ul.connection li:has(img) > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  padding: 0;
}
nav .container ul.connection li:has(img) > a img {
  border: 3px solid white;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.158);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.158);
  width: 40px;
  border-radius: 50%;
}
nav .container ul.connection li:has(img) > a:hover {
  background: transparent;
  color: initial;
}
nav .container .hamburger_menu {
  display: none;
}

@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  nav {
    position: relative;
  }
  nav .container {
    z-index: 1;
  }
  nav .container ul.responsive-nav {
    display: block;
    position: absolute;
    top: -300px;
    right: 0%;
    z-index: 2;
    -webkit-transition: 0.65s;
    transition: 0.65s;
    padding-left: 6em;
    background: #f9f9f9;
    color: #000;
    width: 100vw;
  }
  nav .container ul.active {
    color: aliceblue;
    position: absolute;
    top: 3.3em;
    border: none;
    z-index: 2;
  }
  nav .container ul.active li {
    color: #000;
  }
  nav .container ul.active li:hover {
    background: #000;
  }
  nav .container .hamburger_menu {
    color: #000000;
    display: block;
  }
}
main.container {
  display: grid;
  grid-template-columns: max(160px, 20%) 1fr;
  position: relative;
}
main.container aside {
  padding-top: 2em;
}
main.container aside h1,
main.container aside h2 {
  margin-left: 0.7em;
  margin-bottom: 0.7em;
}
main.container aside ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
main.container aside ul li {
  list-style: none;
}
main.container aside ul li a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-left: 3px solid transparent;
  display: block;
}
main.container aside ul li a:hover {
  border-left: 3px solid orange;
  background: rgba(255, 165, 0, 0.065);
}
main.container aside ul li a:hover i {
  color: #e69500;
}
main.container aside ul li a.active {
  border-left: 3px solid orange;
  background: rgba(255, 165, 0, 0.065);
}
main.container aside ul li a i {
  margin-right: 10px;
  font-size: 1.3rem;
  color: rgb(61, 59, 59);
}
main.container .info-detail {
  padding-top: 2em;
  margin-right: 1em;
  padding: 1.7em;
}
main.container .info-detail section .title-tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main.container .info-detail section .title-tool h2 {
  font-size: 2rem;
  margin-block: 1em;
  border-bottom: 3px solid grey;
  padding-bottom: 0.6em;
  border-spacing: 10px 10px;
}
main.container .info-detail section .title-tool a {
  font-weight: bolder;
  font-size: 1.2rem;
}
main.container .info-detail section > div.posts-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2em;
}
main.container .info-detail section > div.posts-row figure.card-main {
  background: #e3e3e3;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 1.2rem;
  padding: 0.3em;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
main.container .info-detail section > div.posts-row figure.card-main img {
  width: 100%;
  aspect-ratio: 1/0.6;
  border-radius: 1rem;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
main.container .info-detail section > div.posts-row figure.card-main figcaption {
  padding: 1.5em;
}
main.container .info-detail section > div.posts-row figure.card-main figcaption h3 {
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
main.container .info-detail section > div.posts-row figure.card-main figcaption .meta-info-container {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}
main.container .info-detail section > div.posts-row figure.card-main figcaption .meta-info-container img {
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
main.container .info-detail section > div.posts-row figure.card-main:hover {
  cursor: pointer;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
}
main.container .info-detail section > div.posts-row figure.card-main:hover > img {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}
main.container .info-detail section > div.posts-row figure.card-main:hover h3 {
  color: #36b58f;
}
main.container .info-detail section > div.posts-row.container-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main.container .info-detail section > div.posts-row.container-list figure.card-side-content {
  background: #e3e3e3;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 1.2rem;
  padding: 0.3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}
main.container .info-detail section > div.posts-row.container-list figure.card-side-content > img {
  aspect-ratio: 1/0.6;
  border-radius: 1rem;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
main.container .info-detail section > div.posts-row.container-list figure.card-side-content figcaption {
  padding: 0.5em;
  width: 100%;
}
main.container .info-detail section > div.posts-row.container-list figure.card-side-content figcaption h3 {
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
main.container .info-detail section > div.posts-row.container-list figure.card-side-content figcaption .meta-info-container {
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}
main.container .info-detail section > div.posts-row.container-list figure.card-side-content figcaption .meta-info-container img {
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
main.container .info-detail section > div.posts-row.container-list figure.card-side-content:hover {
  cursor: pointer;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  background: #dadada;
}
main.container .info-detail section > div.posts-row.container-list figure.card-side-content:hover > img {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}
main.container .info-detail section > div.posts-row.container-list figure.card-side-content:hover h3 {
  color: #36b58f;
}
main.container .info-detail #editProfileform .head-info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 2rem;
  height: 200px;
  margin-bottom: 3em;
  position: relative;
}
main.container .info-detail #editProfileform .head-info > label, main.container .info-detail #editProfileform .head-info > label > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
main.container .info-detail #editProfileform .head-info .profile-img {
  position: relative;
  margin-left: 1em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
main.container .info-detail #editProfileform .head-info .profile-img img {
  border: 5px solid white;
  width: 100px;
  border-radius: 50%;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.185));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.185));
  cursor: pointer;
}
main.container .info-detail #editProfileform .head-info .profile-img i {
  position: absolute;
  top: 80%;
  right: 5%;
  color: orange;
  cursor: pointer;
}
main.container .info-detail #editProfileform .head-info > div {
  margin-bottom: -2em;
  position: relative;
}
main.container .info-detail #editProfileform .head-info .user-info {
  background: -webkit-gradient(linear, left bottom, left top, from(#EEEEEE), to(transparent));
  background: linear-gradient(to top, #EEEEEE, transparent);
}
main.container .info-detail #editProfileform .head-info .user-info h3 {
  font-size: 2.5rem;
}
main.container .info-detail #editProfileform .body-info {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  -webkit-column-gap: 1em;
     -moz-column-gap: 1em;
          column-gap: 1em;
}
main.container .info-detail #editProfileform .body-info label {
  cursor: pointer;
}
main.container .info-detail #editProfileform .body-info h2 {
  text-align: center;
  grid-column: span 6;
  padding: 0.7em;
}
main.container .info-detail #editProfileform .body-info fieldset {
  margin-block: 1em;
  grid-column: span 3;
  text-align: left;
}
main.container .info-detail #editProfileform .body-info fieldset input[type=radio]:not(:first-child) {
  margin-block: 1em;
  accent-color: red;
  margin-left: 1em;
}
main.container .info-detail #editProfileform .body-info fieldset ul:has(input[type=radio]) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}
main.container .info-detail #editProfileform .body-info .grid-col-3 {
  grid-column: span 3;
}
main.container .info-detail #editProfileform .body-info .grid-col-6 {
  grid-column: span 6;
}
main.container .info-detail #editProfileform .body-info .grid-col-12 {
  grid-column: span 6;
}
main.container .info-detail #editProfileform .body-info .grid-full-width {
  grid-column: span 6;
  text-align: center;
  justify-items: start;
}
main.container .info-detail #editProfileform .body-info .grid-full-width button {
  font-size: 1.2rem;
  padding: 0.8em 1.5em;
  background: -webkit-gradient(linear, left top, left bottom, from(#F06543), to(#b83619));
  background: linear-gradient(to bottom, #F06543, #b83619);
}
main.container .info-detail #editProfileform .body-info .grid-full-width button#cancelModal {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 162, 248)), to(rgb(2, 120, 167)));
  background: linear-gradient(to bottom, rgb(0, 162, 248), rgb(2, 120, 167));
}

footer {
  background: #141414;
  color: azure;
  padding: 2em;
}
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .container ul h3 {
  margin-block: 1em;
}
footer .container ul li {
  list-style: none;
  margin-block: 0.7em;
}
footer .container ul li a {
  text-decoration: none;
}

@media (max-width: 800px) {
  footer .container ul:nth-child(1),
  footer .container ul:nth-child(3),
  footer .container ul:nth-child(4) {
    display: none;
  }
}